@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

body {
    margin: 0 auto;
    font-size: 10px;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
    background-color: rgb(237 237 237);
}

input[type=checkbox] {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 1rem;

}